.content-container {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

// .dark-section {
//   .main-nav {
//     ul a::after {
//       border: 2px solid #fff;
//     }
//   }
//   .spinner-spin > .spinner {
//     background-color: #fff;
//   }
// }

// .light-section {
//   .main-nav {
//     ul a::after {
//       border: 2px solid #313131;
//     }
//   }
// }