section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px;
  &.sm {
    max-height: 75vh;
  }
}

a {
  &.button {
    color: $primary-color;
    text-decoration: none;
    border: 1px solid $secondary-color;
    padding: 10px;
  }
  &.external-link {
    color: #fff;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  color: #313131;
  padding: 3px 8px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;

  &.selected,
  &:hover {
    background: $secondary-color;
    color:#fff;
  }
}

.slash {
  color: $secondary-color;
}