.footer {
  min-height: 160px;
  box-sizing: border-box;
  padding: 23px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .note {
    color:rgba(0,0,0,0.3);
  }
  i {
    color: #F40500;
  }
}