.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  overflow: visible;
  @media screen and (max-width:780px) {
    padding: 0 5px;
  }
}

h1.about-h1 {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-left: 10px;
}

.introduction {
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
  @media screen and (max-width:780px) {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 0;
  }
}

.headshot {
  display: inline-block;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background: url(/assets/images/me.jpg) no-repeat center;
  background-size: 120%;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2.5%;
  @media screen and (max-width:780px) {
    width: 125px;
    height: 125px;
    margin: 0 0 15px;
  }
}

@media screen and (max-width:320px) {
  .mobile-optional {
    display: none;
  }
}