@import '../../styles/base/variables';

$background: #0c1219; 
$tech-background: #151e2a;

section.skills {
  height: auto;
  min-height: 100vh;
  background: $background;
  color: #fff;
  padding-top: 69px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1120px;
  max-height: 730px;
  padding-top: 16px;
  margin: 0 auto;
}

.filter-buttons {
  .button {
    color:#fff;
    margin: 0 5px;
  }
}

.card {
  width: 120px;
  margin: 10px 15px;
  text-align: center;
  .tech {
    display: block;
    text-align: center;
    position: relative;
    &:hover {
      .tech-description {
        opacity: 1;
        top: 0;
        background: rgba(255,255,255,0.85);
      }
    }
  }
  .tech-description {
    opacity: 0;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
}

.tech-logo {
  width: 6.5em;
  height: 6.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: 54%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: $tech-background;
  box-shadow: 0 0 18px #0a0f15;
  position: relative;
  z-index: 5;
}

.progress-bar {
  position: absolute;
  width: 112px;
  background: $secondary-color;
  height: 56px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform-origin: top;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  z-index: 0;
  transition: all 1s ease 0.6s;
}

.progress-label {
  position: absolute;
  top: 0;
  left: -23px;
  color: rgba(255,255,255,0.4);
  opacity: 1;
  font-size: 10px;
  transition: all 1s ease 0.6s;
}

.main-container:not(.section-skills) {
  .progress-bar {
    transform: rotate(0) !important;
  }
  .progress-label {
    /* opacity: 0;*/
    transform: rotate(0) !important;
  }
}

.progress-mask {
  position: absolute;
  bottom: -7px;
  width: 119px;
  height: 59px;
  background: $background;
}