@import '../../styles/base/variables';

.main-nav {
  position: fixed;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  z-index: 1000;
  ul {
    padding: 0;
    list-style: none;

    li {
      margin: 1em 0;

      span {
        background: $secondary-color;
        color: #fff;
        padding: 6px 10px;
        border-radius: 19px;
        opacity: 0;
        position: relative;
        display: inline-block;
        transform: translateX(50%);
        transition: all 0.3s ease;
        cursor: pointer;

        &::after {
          content: '';
          width: 0;
          position: absolute;
          top: 14px;
          right: -28px;
          opacity: 0;
          transition: all 0.1s ease 0.25s;
          border-top: 3px solid $secondary-color;
        }
      }

      &:hover {
        span {
          opacity: 1;
          transform: translateX(0);

          &::after {
            width: 29px;
            opacity: 1;
          }
        }

        a::after {
          border: 2px solid $secondary-color;
          background: $secondary-color;
        }
      }

    }

    a {
      text-decoration: none;
      display: block;
      position: relative;
      text-align: right;
      padding-right: 35px;

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #313131;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transition: all 0.3s ease;
        transform: translateY(-50%);
      }
    }
  }
  input,
  label {
    display: none;
  }
  @media screen and (max-width: 718px) {
    top: 0;
    right: 10px;
    transform: translateY(0);
    width: 50px;
  }
}

@media screen and (max-width: 718px) {
  ul.navigation-menu {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    margin-top: 46px;
    z-index: -1;
    right: 0;
    transform: translateX(120%);
    transition: all 0.3s;
  }
  .main-nav {
    input,
    label {
      display: block;
    }
    ul li span {
      transform: translateX(0);
      opacity: 1;
      background: #313030;
      white-space: nowrap;
      &::after {
        display: none;
      }
    }
    ul a {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
}

#menuButton {
  display:none;
  &:checked {
    ~ .spinner-spin {
      > .horizontal {
        opacity: 0;
      }
      > .diagonal.part-1 {
        transform:rotate(225deg);
        margin-top:23px;
      }
      > .diagonal.part-2 {
        transform:rotate(-225deg);
        margin-top:-16px;
      }
    }
    ~ ul.navigation-menu {
      transform: translateX(0);
    }
  }
}

.spinner-spin {
  position:relative;
  float:left;
  height:50px;
  width:50px;
  cursor:pointer;
  > .spinner {
    height:5px;
    width:50px;
    background-color:#313131;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.diagonal.part-1 {
      position:relative;
      float:left;
      margin-top:10px;
    }
    &.diagonal.part-2 {
      position:relative;
      float:left;
      margin-top:6px;
    }
    &.horizontal {
      position:relative;
      float:left;
      margin-top:6px;
    }
  }
}

.dark-section {
  .main-nav {
    ul a::after {
      border: 2px solid #fff;
    }
  }
  .spinner-spin > .spinner {
    background-color: #fff;
  }
}

.light-section {
  .main-nav {
    ul a::after {
      border: 2px solid #313131;
    }
  }
}

.section-intro {
  .main-nav {
    li#nav-intro {
      span {
        background: #F40500;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);

        &::after {
          width: 29px;
          opacity: 1;
        }
      }

      a::after {
        border: 2px solid $secondary-color;
        background: $secondary-color;
      }
    }
  }
}

.section-about {
  .main-nav {
    li#nav-about {
      span {
        background: #F40500;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);

        &::after {
          width: 29px;
          opacity: 1;
        }
      }

      a::after {
        border: 2px solid $secondary-color;
        background: $secondary-color;
      }
    }
  }
}

.section-skills {
  .main-nav {
    li#nav-skills {
      span {
        background: #F40500;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);

        &::after {
          width: 29px;
          opacity: 1;
        }
      }

      a::after {
        border: 2px solid $secondary-color;
        background: $secondary-color;
      }
    }
  }
}

.section-portfolio {
  .main-nav {
    li#nav-portfolio {
      span {
        background: #F40500;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);

        &::after {
          width: 29px;
          opacity: 1;
        }
      }

      a::after {
        border: 2px solid $secondary-color;
        background: $secondary-color;
      }
    }
  }
}

.section-contact {
  .main-nav {
    li#nav-contact {
      span {
        background: #F40500;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);

        &::after {
          width: 29px;
          opacity: 1;
        }
      }

      a::after {
        border: 2px solid $secondary-color;
        background: $secondary-color;
      }
    }
  }
}