<div class="content-container" 
  scrollSpy 
  [spiedTags]="['APP-TITLE', 'ABOUT-ME', 'TECH', 'PORTFOLIO', 'CONTACT-ME']" 
  (sectionChange)="onSectionChange($event)">
  <header-nav [sectionColorClass]="sectionColorClass" (scrollTo)="scrollTo($event)"></header-nav>
  <app-title id="intro"></app-title>
  <about-me id="about"></about-me>
  <tech id="skills" [inViewPort]="skillsInView"></tech>
  <portfolio id="portfolio"></portfolio>
  <contact-me id="contact"></contact-me>
  <app-footer></app-footer>
</div>